<a href="https://colab.research.google.com/github/chinnuanna123/spark/blob/main/adv_pyspark_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Defining a Schema (Explicitly):

In [2]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("schema").getOrCreate()

schema = StructType([
    StructField("EMPLOYEE_ID", IntegerType(), True),
    StructField("FIRST_NAME", StringType(), True),
    StructField("LAST_NAME", StringType(), True),
    StructField("EMAIL", StringType(), True),
    StructField("PHONE_NUMBER", StringType(), True),
    StructField("HIRE_DATE", StringType(), True),
    StructField("JOB_ID", StringType(), True),
    StructField("SALARY", IntegerType(), True),
    StructField("COMMISSION_PCT", StringType(), True),
    StructField("MANAGER_ID", IntegerType(), True),
    StructField("DEPARTMENT_ID", IntegerType(), True)

])

df = spark.read.format("csv").option("header","True").schema(schema).load("employees.csv")

In [3]:
df.show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |      NULL|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

Schema Inference

In [4]:
df=spark.read.csv("employees.csv",header=True,inferSchema=True)
df.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

Simulate adding a new column to an existing DataFrame.

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import lit,col
spark=SparkSession.builder.appName("Dataframe_Sql").getOrCreate()

Querying a DataFrame with SQL

In [11]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SQL Query on DataFrame").getOrCreate()

data = [("John", 101, "Manager",75000),
        ("Emma", 102, "Developer",50000),
        ("Sophia", 103, "Analyst",35000),
        ("Mike", 104, "Developer", 55000)]

columns = ["Name", "ID", "Job","Salary"]
df = spark.createDataFrame(data, columns)
df.show()

df.createOrReplaceTempView("employee_view")
spark.sql("SELECT * FROM employee_view").show()

result = spark.sql("SELECT * FROM employee_view WHERE Job = 'Developer'")
result.show()


count = spark.sql("SELECT COUNT(*) FROM employee_view")
count.show()

+------+---+---------+------+
|  Name| ID|      Job|Salary|
+------+---+---------+------+
|  John|101|  Manager| 75000|
|  Emma|102|Developer| 50000|
|Sophia|103|  Analyst| 35000|
|  Mike|104|Developer| 55000|
+------+---+---------+------+

+------+---+---------+------+
|  Name| ID|      Job|Salary|
+------+---+---------+------+
|  John|101|  Manager| 75000|
|  Emma|102|Developer| 50000|
|Sophia|103|  Analyst| 35000|
|  Mike|104|Developer| 55000|
+------+---+---------+------+

+----+---+---------+------+
|Name| ID|      Job|Salary|
+----+---+---------+------+
|Emma|102|Developer| 50000|
|Mike|104|Developer| 55000|
+----+---+---------+------+

+--------+
|count(1)|
+--------+
|       4|
+--------+

Using Aggregation

In [14]:
spark.sql("SELECT Name, AVG(Salary) FROM employee_view GROUP BY Name").show()

+------+-----------+
|  Name|avg(Salary)|
+------+-----------+
|  John|    75000.0|
|  Emma|    50000.0|
|  Mike|    55000.0|
|Sophia|    35000.0|
+------+-----------+

Sorting the data

In [15]:
spark.sql("SELECT * FROM employee_view ORDER BY Salary DESC").show()

+------+---+---------+------+
|  Name| ID|      Job|Salary|
+------+---+---------+------+
|  John|101|  Manager| 75000|
|  Mike|104|Developer| 55000|
|  Emma|102|Developer| 50000|
|Sophia|103|  Analyst| 35000|
+------+---+---------+------+