<a href="https://colab.research.google.com/github/chinnuanna123/spark/blob/main/adv_pyspark_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [89]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,when,lit
from pyspark.sql import functions as F

In [16]:
spark=SparkSession.builder.appName('examples').getOrCreate()

In [20]:
df=spark.read.csv('employees.csv',header=True,inferSchema=True)

In [10]:
df.show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

Using groupBy() with Count Aggregations

In [12]:
df.groupBy('JOB_ID').count().show()

+----------+-----+
|    JOB_ID|count|
+----------+-----+
|FI_ACCOUNT|    5|
|    MK_MAN|    1|
|   IT_PROG|    5|
|    FI_MGR|    1|
|AC_ACCOUNT|    1|
|    HR_REP|    1|
|  PU_CLERK|    5|
|    AC_MGR|    1|
|    PR_REP|    1|
|    ST_MAN|    5|
|    MK_REP|    1|
|    PU_MAN|    1|
|  SH_CLERK|    2|
|   AD_PRES|    1|
|   AD_ASST|    1|
|  ST_CLERK|   16|
|     AD_VP|    2|
+----------+-----+

Sum Aggregation

In [21]:
df.groupBy('JOB_ID').sum('SALARY').show()

+----------+-----------+
|    JOB_ID|sum(SALARY)|
+----------+-----------+
|FI_ACCOUNT|      39600|
|    MK_MAN|      13000|
|   IT_PROG|      28800|
|    FI_MGR|      12008|
|AC_ACCOUNT|       8300|
|    HR_REP|       6500|
|  PU_CLERK|      13900|
|    AC_MGR|      12008|
|    PR_REP|      10000|
|    ST_MAN|      36400|
|    MK_REP|       6000|
|    PU_MAN|      11000|
|  SH_CLERK|       5200|
|   AD_PRES|      24000|
|   AD_ASST|       4400|
|  ST_CLERK|      44000|
|     AD_VP|      34000|
+----------+-----------+

Average Aggregation

In [22]:
df.groupBy('JOB_ID').avg('SALARY').show()

+----------+-----------+
|    JOB_ID|avg(SALARY)|
+----------+-----------+
|FI_ACCOUNT|     7920.0|
|    MK_MAN|    13000.0|
|   IT_PROG|     5760.0|
|    FI_MGR|    12008.0|
|AC_ACCOUNT|     8300.0|
|    HR_REP|     6500.0|
|  PU_CLERK|     2780.0|
|    AC_MGR|    12008.0|
|    PR_REP|    10000.0|
|    ST_MAN|     7280.0|
|    MK_REP|     6000.0|
|    PU_MAN|    11000.0|
|  SH_CLERK|     2600.0|
|   AD_PRES|    24000.0|
|   AD_ASST|     4400.0|
|  ST_CLERK|     2750.0|
|     AD_VP|    17000.0|
+----------+-----------+

minimum Aggregation

In [23]:
df.groupBy('JOB_ID').min('SALARY').show()

+----------+-----------+
|    JOB_ID|min(SALARY)|
+----------+-----------+
|FI_ACCOUNT|       6900|
|    MK_MAN|      13000|
|   IT_PROG|       4200|
|    FI_MGR|      12008|
|AC_ACCOUNT|       8300|
|    HR_REP|       6500|
|  PU_CLERK|       2500|
|    AC_MGR|      12008|
|    PR_REP|      10000|
|    ST_MAN|       5800|
|    MK_REP|       6000|
|    PU_MAN|      11000|
|  SH_CLERK|       2600|
|   AD_PRES|      24000|
|   AD_ASST|       4400|
|  ST_CLERK|       2100|
|     AD_VP|      17000|
+----------+-----------+

Maximum Aggregation

In [24]:
df.groupBy('JOB_ID').max('SALARY').show()

+----------+-----------+
|    JOB_ID|max(SALARY)|
+----------+-----------+
|FI_ACCOUNT|       9000|
|    MK_MAN|      13000|
|   IT_PROG|       9000|
|    FI_MGR|      12008|
|AC_ACCOUNT|       8300|
|    HR_REP|       6500|
|  PU_CLERK|       3100|
|    AC_MGR|      12008|
|    PR_REP|      10000|
|    ST_MAN|       8200|
|    MK_REP|       6000|
|    PU_MAN|      11000|
|  SH_CLERK|       2600|
|   AD_PRES|      24000|
|   AD_ASST|       4400|
|  ST_CLERK|       3600|
|     AD_VP|      17000|
+----------+-----------+

Multiple Aggregations

In [31]:
df.groupBy('JOB_ID').agg(F.sum('SALARY').alias('TOTAL_SALARY'),F.avg('SALARY').alias('AVG_SALARY'),F.count('JOB_ID').alias('Employee_Count')).show()

+----------+------------+----------+--------------+
|    JOB_ID|TOTAL_SALARY|AVG_SALARY|Employee_Count|
+----------+------------+----------+--------------+
|FI_ACCOUNT|       39600|    7920.0|             5|
|    MK_MAN|       13000|   13000.0|             1|
|   IT_PROG|       28800|    5760.0|             5|
|    FI_MGR|       12008|   12008.0|             1|
|AC_ACCOUNT|        8300|    8300.0|             1|
|    HR_REP|        6500|    6500.0|             1|
|  PU_CLERK|       13900|    2780.0|             5|
|    AC_MGR|       12008|   12008.0|             1|
|    PR_REP|       10000|   10000.0|             1|
|    ST_MAN|       36400|    7280.0|             5|
|    MK_REP|        6000|    6000.0|             1|
|    PU_MAN|       11000|   11000.0|             1|
|  SH_CLERK|        5200|    2600.0|             2|
|   AD_PRES|       24000|   24000.0|             1|
|   AD_ASST|        4400|    4400.0|             1|
|  ST_CLERK|       44000|    2750.0|            16|
|     AD_VP|       34000|   17000.0|             2|
+----------+------------+----------+--------------+

Grouping by Multiple Columns

In [32]:
df.groupBy('JOB_ID','FIRST_NAME').sum('SALARY').show()

+----------+-----------+-----------+
|    JOB_ID| FIRST_NAME|sum(SALARY)|
+----------+-----------+-----------+
|  ST_CLERK|      Jason|       3300|
|FI_ACCOUNT|Jose Manuel|       7800|
|  ST_CLERK|      Irene|       2700|
|   IT_PROG|      Valli|       4800|
|  PU_CLERK|  Alexander|       3100|
|   AD_PRES|     Steven|      24000|
|  ST_CLERK|      James|       4900|
|    MK_REP|        Pat|       6000|
|    ST_MAN|       Adam|       8200|
|    PR_REP|    Hermann|      10000|
|  PU_CLERK|      Karen|       2500|
|  ST_CLERK|    Stephen|       3200|
|    AC_MGR|    Shelley|      12008|
|FI_ACCOUNT|     Ismael|       7700|
|FI_ACCOUNT|       Luis|       6900|
|  ST_CLERK|      Julia|       3200|
|     AD_VP|      Neena|      17000|
|FI_ACCOUNT|     Daniel|       9000|
|  ST_CLERK|         TJ|       2100|
|  ST_CLERK|       John|       2700|
+----------+-----------+-----------+
only showing top 20 rows

OrderBy, Sort

In [33]:
df.orderBy('SALARY').show()

+-----------+----------+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|  LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        132|        TJ|      Olson| TJOLSON|650.124.8234|10-APR-07|ST_CLERK|  2100|            - |       121|           50|
|        128|    Steven|     Markle| SMARKLE|650.124.1434|08-MAR-08|ST_CLERK|  2200|            - |       120|           50|
|        136|     Hazel| Philtanker|HPHILTAN|650.127.1634|06-FEB-08|ST_CLERK|  2200|            - |       122|           50|
|        127|     James|     Landry| JLANDRY|650.124.1334|14-JAN-07|ST_CLERK|  2400|            - |       120|           50|
|        135|        Ki|        Gee|    KGEE|650.127.1734|12-DEC-07|ST_CLERK|  2400|            - |       122|           50|
|        131|     James|     Marlow| JAMRLOW|650.124.7234|16-FEB-05|ST_CLERK|  2500|            - |       121|           50|
|        119|     Karen| Colmenares|KCOLMENA|515.127.4566|10-AUG-07|PU_CLERK|  2500|            - |       114|           30|
|        140|    Joshua|      Patel|  JPATEL|650.121.1834|06-APR-06|ST_CLERK|  2500|            - |       123|           50|
|        198|    Donald|   OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|      Grant|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|            - |       124|           50|
|        118|       Guy|     Himuro| GHIMURO|515.127.4565|15-NOV-06|PU_CLERK|  2600|            - |       114|           30|
|        126|     Irene|Mikkilineni|IMIKKILI|650.124.1224|28-SEP-06|ST_CLERK|  2700|            - |       120|           50|
|        139|      John|        Seo|    JSEO|650.121.2019|12-FEB-06|ST_CLERK|  2700|            - |       123|           50|
|        117|     Sigal|     Tobias| STOBIAS|515.127.4564|24-JUL-05|PU_CLERK|  2800|            - |       114|           30|
|        130|     Mozhe|   Atkinson|MATKINSO|650.124.6234|30-OCT-05|ST_CLERK|  2800|            - |       121|           50|
|        116|    Shelli|      Baida|  SBAIDA|515.127.4563|24-DEC-05|PU_CLERK|  2900|            - |       114|           30|
|        134|   Michael|     Rogers| MROGERS|650.127.1834|26-AUG-06|ST_CLERK|  2900|            - |       122|           50|
|        115| Alexander|       Khoo|   AKHOO|515.127.4562|18-MAY-03|PU_CLERK|  3100|            - |       114|           30|
|        125|     Julia|      Nayer|  JNAYER|650.124.1214|16-JUL-05|ST_CLERK|  3200|            - |       120|           50|
|        138|   Stephen|     Stiles| SSTILES|650.121.2034|26-OCT-05|ST_CLERK|  3200|            - |       123|           50|
+-----------+----------+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 20 rows

In [45]:
df.orderBy('SALARY').show()

+-----------+----------+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|  LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        132|        TJ|      Olson| TJOLSON|650.124.8234|10-APR-07|ST_CLERK|  2100|            - |       121|           50|
|        128|    Steven|     Markle| SMARKLE|650.124.1434|08-MAR-08|ST_CLERK|  2200|            - |       120|           50|
|        136|     Hazel| Philtanker|HPHILTAN|650.127.1634|06-FEB-08|ST_CLERK|  2200|            - |       122|           50|
|        127|     James|     Landry| JLANDRY|650.124.1334|14-JAN-07|ST_CLERK|  2400|            - |       120|           50|
|        135|        Ki|        Gee|    KGEE|650.127.1734|12-DEC-07|ST_CLERK|  2400|            - |       122|           50|
|        131|     James|     Marlow| JAMRLOW|650.124.7234|16-FEB-05|ST_CLERK|  2500|            - |       121|           50|
|        119|     Karen| Colmenares|KCOLMENA|515.127.4566|10-AUG-07|PU_CLERK|  2500|            - |       114|           30|
|        140|    Joshua|      Patel|  JPATEL|650.121.1834|06-APR-06|ST_CLERK|  2500|            - |       123|           50|
|        198|    Donald|   OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|      Grant|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|            - |       124|           50|
|        118|       Guy|     Himuro| GHIMURO|515.127.4565|15-NOV-06|PU_CLERK|  2600|            - |       114|           30|
|        126|     Irene|Mikkilineni|IMIKKILI|650.124.1224|28-SEP-06|ST_CLERK|  2700|            - |       120|           50|
|        139|      John|        Seo|    JSEO|650.121.2019|12-FEB-06|ST_CLERK|  2700|            - |       123|           50|
|        117|     Sigal|     Tobias| STOBIAS|515.127.4564|24-JUL-05|PU_CLERK|  2800|            - |       114|           30|
|        130|     Mozhe|   Atkinson|MATKINSO|650.124.6234|30-OCT-05|ST_CLERK|  2800|            - |       121|           50|
|        116|    Shelli|      Baida|  SBAIDA|515.127.4563|24-DEC-05|PU_CLERK|  2900|            - |       114|           30|
|        134|   Michael|     Rogers| MROGERS|650.127.1834|26-AUG-06|ST_CLERK|  2900|            - |       122|           50|
|        115| Alexander|       Khoo|   AKHOO|515.127.4562|18-MAY-03|PU_CLERK|  3100|            - |       114|           30|
|        125|     Julia|      Nayer|  JNAYER|650.124.1214|16-JUL-05|ST_CLERK|  3200|            - |       120|           50|
|        138|   Stephen|     Stiles| SSTILES|650.121.2034|26-OCT-05|ST_CLERK|  3200|            - |       123|           50|
+-----------+----------+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 20 rows

In [47]:
df.orderBy('LAST_NAME','SALARY').show()

+-----------+----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME| LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        130|     Mozhe|  Atkinson|MATKINSO|650.124.6234|30-OCT-05|  ST_CLERK|  2800|            - |       121|           50|
|        105|     David|    Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|
|        204|   Hermann|      Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        116|    Shelli|     Baida|  SBAIDA|515.127.4563|24-DEC-05|  PU_CLERK|  2900|            - |       114|           30|
|        129|     Laura|    Bissot| LBISSOT|650.124.5234|20-AUG-05|  ST_CLERK|  3300|            - |       121|           50|
|        110|      John|      Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
|        119|     Karen|Colmenares|KCOLMENA|515.127.4566|10-AUG-07|  PU_CLERK|  2500|            - |       114|           30|
|        102|       Lex|   De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|        104|     Bruce|     Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|
|        109|    Daniel|    Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        202|       Pat|       Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|        121|      Adam|     Fripp|  AFRIPP|650.123.2234|10-APR-05|    ST_MAN|  8200|            - |       100|           50|
|        135|        Ki|       Gee|    KGEE|650.127.1734|12-DEC-07|  ST_CLERK|  2400|            - |       122|           50|
|        206|   William|     Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        199|   Douglas|     Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|        108|     Nancy| Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|        201|   Michael| Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        205|   Shelley|   Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        118|       Guy|    Himuro| GHIMURO|515.127.4565|15-NOV-06|  PU_CLERK|  2600|            - |       114|           30|
|        103| Alexander|    Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
+-----------+----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [43]:
df.orderBy(col('SALARY').desc()).show()

+-----------+-----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        100|     Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|        201|    Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        205|    Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|07-DEC-02|    PU_MAN| 11000|            - |       100|           30|
|        204|    Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        206|    William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        110|       John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
|        121|       Adam|    Fripp|  AFRIPP|650.123.2234|10-APR-05|    ST_MAN|  8200|            - |       100|           50|
|        120|    Matthew|    Weiss|  MWEISS|650.123.1234|18-JUL-04|    ST_MAN|  8000|            - |       100|           50|
|        122|      Payam| Kaufling|PKAUFLIN|650.123.3234|01-MAY-03|    ST_MAN|  7900|            - |       100|           50|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|07-MAR-06|FI_ACCOUNT|  7800|            - |       108|          100|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|30-SEP-05|FI_ACCOUNT|  7700|            - |       108|          100|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|07-DEC-07|FI_ACCOUNT|  6900|            - |       108|          100|
|        203|      Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|        123|     Shanta|  Vollman|SVOLLMAN|650.123.4234|10-OCT-05|    ST_MAN|  6500|            - |       100|           50|
+-----------+-----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [44]:
df.orderBy(col('SALARY').desc(),col('FIRST_NAME').asc()).show()

+-----------+-----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        100|     Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|
|        201|    Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|        205|    Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|07-DEC-02|    PU_MAN| 11000|            - |       100|           30|
|        204|    Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        206|    William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        121|       Adam|    Fripp|  AFRIPP|650.123.2234|10-APR-05|    ST_MAN|  8200|            - |       100|           50|
|        110|       John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
|        120|    Matthew|    Weiss|  MWEISS|650.123.1234|18-JUL-04|    ST_MAN|  8000|            - |       100|           50|
|        122|      Payam| Kaufling|PKAUFLIN|650.123.3234|01-MAY-03|    ST_MAN|  7900|            - |       100|           50|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|07-MAR-06|FI_ACCOUNT|  7800|            - |       108|          100|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|30-SEP-05|FI_ACCOUNT|  7700|            - |       108|          100|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|07-DEC-07|FI_ACCOUNT|  6900|            - |       108|          100|
|        123|     Shanta|  Vollman|SVOLLMAN|650.123.4234|10-OCT-05|    ST_MAN|  6500|            - |       100|           50|
|        203|      Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
+-----------+-----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [48]:
df.sort('SALARY').show()

+-----------+----------+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|  LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        132|        TJ|      Olson| TJOLSON|650.124.8234|10-APR-07|ST_CLERK|  2100|            - |       121|           50|
|        128|    Steven|     Markle| SMARKLE|650.124.1434|08-MAR-08|ST_CLERK|  2200|            - |       120|           50|
|        136|     Hazel| Philtanker|HPHILTAN|650.127.1634|06-FEB-08|ST_CLERK|  2200|            - |       122|           50|
|        127|     James|     Landry| JLANDRY|650.124.1334|14-JAN-07|ST_CLERK|  2400|            - |       120|           50|
|        135|        Ki|        Gee|    KGEE|650.127.1734|12-DEC-07|ST_CLERK|  2400|            - |       122|           50|
|        131|     James|     Marlow| JAMRLOW|650.124.7234|16-FEB-05|ST_CLERK|  2500|            - |       121|           50|
|        119|     Karen| Colmenares|KCOLMENA|515.127.4566|10-AUG-07|PU_CLERK|  2500|            - |       114|           30|
|        140|    Joshua|      Patel|  JPATEL|650.121.1834|06-APR-06|ST_CLERK|  2500|            - |       123|           50|
|        198|    Donald|   OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|      Grant|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|            - |       124|           50|
|        118|       Guy|     Himuro| GHIMURO|515.127.4565|15-NOV-06|PU_CLERK|  2600|            - |       114|           30|
|        126|     Irene|Mikkilineni|IMIKKILI|650.124.1224|28-SEP-06|ST_CLERK|  2700|            - |       120|           50|
|        139|      John|        Seo|    JSEO|650.121.2019|12-FEB-06|ST_CLERK|  2700|            - |       123|           50|
|        117|     Sigal|     Tobias| STOBIAS|515.127.4564|24-JUL-05|PU_CLERK|  2800|            - |       114|           30|
|        130|     Mozhe|   Atkinson|MATKINSO|650.124.6234|30-OCT-05|ST_CLERK|  2800|            - |       121|           50|
|        116|    Shelli|      Baida|  SBAIDA|515.127.4563|24-DEC-05|PU_CLERK|  2900|            - |       114|           30|
|        134|   Michael|     Rogers| MROGERS|650.127.1834|26-AUG-06|ST_CLERK|  2900|            - |       122|           50|
|        115| Alexander|       Khoo|   AKHOO|515.127.4562|18-MAY-03|PU_CLERK|  3100|            - |       114|           30|
|        125|     Julia|      Nayer|  JNAYER|650.124.1214|16-JUL-05|ST_CLERK|  3200|            - |       120|           50|
|        138|   Stephen|     Stiles| SSTILES|650.121.2034|26-OCT-05|ST_CLERK|  3200|            - |       123|           50|
+-----------+----------+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 20 rows

Sorting After Aggregation

In [51]:
df.groupBy('JOB_ID').agg(F.sum('SALARY').alias('TOTAL_SALARY')).orderBy('TOTAL_SALARY').show()

+----------+------------+
|    JOB_ID|TOTAL_SALARY|
+----------+------------+
|   AD_ASST|        4400|
|  SH_CLERK|        5200|
|    MK_REP|        6000|
|    HR_REP|        6500|
|AC_ACCOUNT|        8300|
|    PR_REP|       10000|
|    PU_MAN|       11000|
|    FI_MGR|       12008|
|    AC_MGR|       12008|
|    MK_MAN|       13000|
|  PU_CLERK|       13900|
|   AD_PRES|       24000|
|   IT_PROG|       28800|
|     AD_VP|       34000|
|    ST_MAN|       36400|
|FI_ACCOUNT|       39600|
|  ST_CLERK|       44000|
+----------+------------+

In [52]:
df.groupBy('JOB_ID').agg(F.sum('SALARY').alias('TOTAL_SALARY')).orderBy(F.col('TOTAL_SALARY').desc()).show()

+----------+------------+
|    JOB_ID|TOTAL_SALARY|
+----------+------------+
|  ST_CLERK|       44000|
|FI_ACCOUNT|       39600|
|    ST_MAN|       36400|
|     AD_VP|       34000|
|   IT_PROG|       28800|
|   AD_PRES|       24000|
|  PU_CLERK|       13900|
|    MK_MAN|       13000|
|    FI_MGR|       12008|
|    AC_MGR|       12008|
|    PU_MAN|       11000|
|    PR_REP|       10000|
|AC_ACCOUNT|        8300|
|    HR_REP|        6500|
|    MK_REP|        6000|
|  SH_CLERK|        5200|
|   AD_ASST|        4400|
+----------+------------+

Inner,Outer Joins

In [93]:
products=[
    (101,"Laptop",1000),
    (102,"Desktop",2000),
    (103,"Mobile",3000),
    (104,"Tablet",4000),
    (105,"TV",5000)
]
pro_columns=["PRODUCT_ID","PRODUCT_NAME","PRICE"]
spark=SparkSession.builder.appName('inner_join_ex').getOrCreate()
product_df=spark.createDataFrame(products,pro_columns)
product_df.show()

+----------+------------+-----+
|PRODUCT_ID|PRODUCT_NAME|PRICE|
+----------+------------+-----+
|       101|      Laptop| 1000|
|       102|     Desktop| 2000|
|       103|      Mobile| 3000|
|       104|      Tablet| 4000|
|       105|          TV| 5000|
+----------+------------+-----+

In [94]:
sales=[
    (101,20),
    (102,210),
    (104,40),
]
columns=["PRODUCT_ID","QUANTITY_SOLD"]
sales_df=spark.createDataFrame(sales,columns)
sales_df.show()

+----------+-------------+
|PRODUCT_ID|QUANTITY_SOLD|
+----------+-------------+
|       101|           20|
|       102|          210|
|       104|           40|
+----------+-------------+

 1. Inner Join (Only Matching Records)

In [98]:
inner_join = product_df.join(sales_df, on='PRODUCT_ID', how='inner')
inner_join.show()

+----------+------------+-----+-------------+
|PRODUCT_ID|PRODUCT_NAME|PRICE|QUANTITY_SOLD|
+----------+------------+-----+-------------+
|       101|      Laptop| 1000|           20|
|       102|     Desktop| 2000|          210|
|       104|      Tablet| 4000|           40|
+----------+------------+-----+-------------+

 Outer Join (All Records from Both Tables)

In [101]:
outer_join = product_df.join(sales_df, on="PRODUCT_ID", how="outer")
outer_join.show()

+----------+------------+-----+-------------+
|PRODUCT_ID|PRODUCT_NAME|PRICE|QUANTITY_SOLD|
+----------+------------+-----+-------------+
|       101|      Laptop| 1000|           20|
|       102|     Desktop| 2000|          210|
|       103|      Mobile| 3000|         NULL|
|       104|      Tablet| 4000|           40|
|       105|          TV| 5000|         NULL|
+----------+------------+-----+-------------+

Left Join (All Records from products)

In [100]:
left_join = product_df.join(sales_df, on="PRODUCT_ID", how="left")
left_join.show()

+----------+------------+-----+-------------+
|PRODUCT_ID|PRODUCT_NAME|PRICE|QUANTITY_SOLD|
+----------+------------+-----+-------------+
|       101|      Laptop| 1000|           20|
|       102|     Desktop| 2000|          210|
|       103|      Mobile| 3000|         NULL|
|       104|      Tablet| 4000|           40|
|       105|          TV| 5000|         NULL|
+----------+------------+-----+-------------+

 Right Join (All Records from sales)

In [102]:
right_join = product_df.join(sales_df, on="PRODUCT_ID", how="right")
right_join.show()

+----------+------------+-----+-------------+
|PRODUCT_ID|PRODUCT_NAME|PRICE|QUANTITY_SOLD|
+----------+------------+-----+-------------+
|       101|      Laptop| 1000|           20|
|       104|      Tablet| 4000|           40|
|       102|     Desktop| 2000|          210|
+----------+------------+-----+-------------+