<a href="https://colab.research.google.com/github/chinnuanna123/spark/blob/main/local_mode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [6]:
from pyspark.sql import SparkSession

# Create a Spark session
#spark = SparkSession.builder.appName("DataFrameExample").getOrCreate()
# Create a Spark session in local mode
spark = SparkSession.builder.master("local[*]").appName("LocalModeExample").getOrCreate()

# Create a sample DataFrame
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
columns = ["Name", "Age"]

df = spark.createDataFrame(data, columns)

# Display the DataFrame
df.show()

# Stop Spark session
#spark.stop()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

Writing a CSV File Using Pandas
python

In [7]:
import pandas as pd

# Create a sample DataFrame
data = {"Name": ["Alice", "Bob", "Charlie"], "Age": [25, 30, 35]}
df = pd.DataFrame(data)

# Save to CSV (in Colab session)
df.to_csv("sample.csv", index=False)

# Verify the file was created
!ls

sample.csv  sample_data

Reading a CSV File

In [9]:
df = spark.read.csv("sample.csv", header=True)
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

Filtering and Selecting Data

In [10]:
df.filter(df.Age > 28).select("Name").show()

+-------+
|   Name|
+-------+
|    Bob|
|Charlie|
+-------+